.jumbotron {
  padding-top: 2rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.link__for__contact {
  text-decoration: none;
  color: green;
}

.link_for_mail {
  text-decoration: none;
  color: red;
}

.link_for_fb {
  text-decoration: none;
  color: blue;
}
.video-wrap {
  display: flex;
  justify-content: center;
}
/* fungsi display untuk mengatur elemen yang ada di dalam (mengatur tata letak element,sedangkan justify content center untuk menengahkan element yang ada dialam  */

.custom-video {
  width: 450px;
  height: 400px;
  /* untuk mengatur besar/size PxL ukuran */
}
